@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

body {

  background: no-repeat center 5% fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.959) 0%, rgba(0, 0, 0, 0.486) 4%,rgba(255, 255, 255, 0.911) 20%, transparent 30%, rgba(0, 0, 0, 0.308) 55%,rgba(0, 0, 0, 0.226) 100%), url(background-coinbat.jpg);
  background-blend-mode: multiply; 
  height: 99vh;
  font-family: 'Montaga', serif;
  font-size: 10px;
  text-align: center;
  margin: auto;
}

.formbody{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.959) 0%, rgba(0, 0, 0, 0.486) 4%,rgba(255, 255, 255, 0.945) 15%, rgba(0, 0, 0, 0.363) 30%, rgba(0, 0, 0, 0.486) 45%,rgba(0, 0, 0, 0.63) 100%), url(background-coinbat.jpg);

}
.messagebody{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.959) 0%, rgba(0, 0, 0, 0.486) 4%,rgba(0, 0, 0, 0.459) 20%, rgba(0, 0, 0, 0.932) 30%, rgba(0, 0, 0, 0.98) 80%,rgba(0, 0, 0, 0.849) 100%), url(background-coinbat.jpg);

}
/* h3 MESSAGE PAGE cambiar de sitio en css*/
h3 { 
  color: white
  
  
 
}
h1 {
  color: rgb(167, 4, 4);
  font-size: 4rem;
  margin: 5%;  
  padding: 5%;

}

quote {
  font-size: 5rem;
  color: rgb(167, 167, 56);
  padding: 5%
}

  
.navbar {
  background-color: rgba(0, 0, 0, 0.356);
  position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
  width: 100%;
  top: 0px;
  left: 0px;
  
}
nav ul {
  /*float: right; recordar quitar y 
  usar bootstrap*/
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  padding: .4rem 1em;/*cambiar en res 500 y 100*/ 

}
a { 
  color:rgb(218, 192, 77);
  font-size: 1.2rem;/*cambiar en res 500 y 100*/
  text-decoration: none;  
}

.fullview{
  height: 90vh;
}
.homepagelogo{
  text-align: center;
  margin:  auto;
  width: 90vw;
  max-width: 1000px;
  margin: 40vh -15px 0;
}
#histoyrules {
  background-color: rgba(41, 41, 41, 0.932);
  height: 70vh;
  margin: 0;
  
}
#histoyplayers {
  background-color: rgb(158, 28, 28);
  height: 70vh;
  margin-top: -70px;
}
footer {
  background-color: rgba(0, 0, 0, 0.596);
  height: 15vh;
}
.allplayerinfo {
  display: flex;
  
}
.playericonhome {
  height: 50px;
}

-/*-------C H O O S E   P L A Y E R ------------*/
.player-page {
  background-color: yellow;
  width: 50%;
   
}
.choosetext {
  color: rgb(218, 192, 77);
  text-shadow: 4px 4px 3px #000000;
  font-size: 2.2rem;
  text-align: center;
  max-width: 1000px;
  
  margin-top: 0px;
  /* margin: 20% 50px -70px */
  
}

.chooseplayer-logo{
  min-width: 300px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.322) 0%, rgba(0, 0, 0, 0.74) 60% rgb(0, 0, 0) 100%);
  
  width: 30%; 
  margin: 20% 0px 0px;
} 
.playersbody{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.959) 0%, rgba(0, 0, 0, 0.486) 4%,rgba(255, 255, 255, 0.945) 15%, rgba(0, 0, 0, 0.24) 30%, rgba(0, 0, 0, 0.678) 45%,rgba(0, 0, 0, 0.63) 100%);
  margin-top: 0em;
}
.player-icons {
  text-align: center;
  width: 100%;
  /* max-width: 850px; */
  margin: 0 auto;
  
}
.player-menu {
  background-color: rgba(0, 0, 0, 0.74);
  padding: 15px 0px;
}
#chooseplayer img{
  width: 30%;
  max-width: 165px;
}

#chooseplayer img:hover {
  transform: scale(1.5)
}

/*------*/


/*----------F I G H T   S T U F F ------------*/
.board {
  background-color: blue;
  width: 90%;
  max-width: 700px;
  height: 50%;
  margin: 0 auto;
}
    .player {
      background-color: blueviolet;
      height: 30%;
      display: flex;
      flex-wrap: wrap;
    }
    .fliplingspace {
      background-color: burlywood;
    }
    #thecoin {
      max-width: 200px ;
    }
      
        .playeravatar {
          background-color: cornsilk;
          flex-grow: 1;
        }
        .playerstats{
          background-color: darkgreen;
          text-align: right;
          /* display: flex; */
          flex-direction: column;
          align-items: flex-start;
          flex-grow: 2;
          
        }
            .playerref {
              background-color: rgb(155, 156, 155);
            }
            .wincount {
              background-color: rgb(251, 255, 1);
            } 
            .statsname {
              /* background-color: rgb(19, 19, 18); */
              color: rgb(235, 234, 201);
            }
            .playerimg {
              display: flex;
              height: 150px;
            }
            .coinimg {
              
              height: 300px;
            }
    .reverse {
      flex-direction: row-reverse;
    }

    .reversestats{
      text-align: left;
      /* display: flex; */
      /* flex-wrap: nowrap; */
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    .playerref{
      display: ;
    }


/*----------F O R M S   S T U F F ------------*/
.titlepage {
  color:rgba(209, 199, 148, 0.87); 
  font-family: 'Montaga', serif;
  text-align: left;
  font-size:2rem;
  margin: 70px auto 20px;
}

form {
  color: #555;
  font-family: verdana, helvetica;
  font-size: 2rem;
  text-align: right;
  margin: 30px auto 60px ;
  width: 80%;
  max-width: 450px;
}
form div {
  /* margin: -.8rem 0; */
}


.inputtitle{
  color:rgba(209, 199, 148, 0.87); 
  text-align: left;
  font-size: 1rem;
  
  
}
.inputfield{
  background-color: rgba(133, 126, 100, 0.37);
  color:rgb(196, 193, 178);
  font-size:0.8rem;
  width: 100%;
  padding: 10px 4px;
  margin: 40px 0 0 ;
  border: 0px ;
  text-align: left;
}

form p {
  color: rgba(201, 197, 186, 0.877); 
  margin-top: 40px;
  text-align: center;
  font-size: .8rem;
}
form a {
  color: rgba(255, 220, 62, 0.733); 
  text-align: center;
  font-size: .8rem;
  margin: 0 auto;
}

button {
  background-color: rgba(0, 0, 0, 0.767);
  color:rgb(243, 211, 94);
  font-family: 'Montaga', serif;
  font-size: 1.4rem;
  padding: 10px;
  margin: 40px 0px 0px;
  width: 170px;
  border: none;
  
}




 @media (min-width: 576px){
  .choosetext {
    font-size: 2.5rem;
  }

  .chooseplayer-logo{
   
    margin: 15% 0px 0px;
  } 
 }


 @media (min-width: 992px){
 
  #chooseplayer img{
    width: 12%;
  }
  .choosetext{
  padding: 0px 100px 0px;
  }
  .choose1 {
    font-size: 2.8rem;
    text-align: left;
  }

  .choose2 {
    font-size: 2.8rem;
    text-align: right;
  }
}
